@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
    --font: 'Amatic SC', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: 200;
    font-family: var(--font);
    color: white;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.panels {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}


.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center;
    transition: 
        font-size .7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex .7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background .2s
    ;
}

.panel-1 {
    background-image: url('media/1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.panel-2 {
    background-image: url('media/2.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.panel-3 {
    background-image: url('media/3.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.panel-4 {
    background-image: url('media/4.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.panel-5 {
    background-image: url('media/5.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.panel > * {
    text-transform: uppercase;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72),
    0 0 14px rgba(0, 0, 0, 0.45);
    transition: transform .5s;
    width: 100%;
    font-size: 2rem;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel p:nth-child(2) {
    font-size: 4rem;
}

.panel p:nth-child(1) {
    transform: translateY(-100%);
}
.panel.open-active p:first-child {
    transform: translateY(0);
}

.panel p:nth-child(3) {
    transform: translateY(100%);
}
.panel.open-active p:last-child {
    transform: translateY(0);
}

.open {
    flex: 5;
}